.about_container {
  display: grid;
  grid-template-areas:
    "about1 about2"
    "about3 about4";
  /* grid-template-columns: repeat(1) 1fr;
  grid-template-rows: repeat(1, 520px); */
  border-radius: var(--border);
  height: 1000px;
  width: var(--box_width);
  margin: auto;
  margin-top: 80px;
  box-shadow: var(--shadow);
  margin-bottom: 40px;
}

.about_box1 {
  grid-area: about1;
  align-self: center;
  justify-self: center;
  width: 90%;
}

.about_box2 {
  grid-area: about2;
  width: 100%;
}

.about_box3 {
  grid-area: about3;
}

.about_box4 {
  grid-area: about4;
  align-self: center;
  justify-self: center;
  width: 90%;
}

.h1_about {
  color: var(--color);
  font-size: var(--h1);
  /* margin-top: 20px; */
  margin-left: 90px;
  margin-bottom: 60px;
  letter-spacing: var(--spacing);
}

.paragraph_about_long {
  line-height: var(--line);
  letter-spacing: var(--spacing);
  font-size: var(--paragraph);
  margin-left: 90px;
  margin-top: 20px;
}

.paragraph_about {
  font-weight: var(--fw);
  font-size: 0.9375rem;
  letter-spacing: var(--spacing);
}

.box2_img {
  margin-right: 120px;
  display: flex;
  justify-content: center;
  margin-top: 90px;
}

.science_ball {
  height: 380px;
}

.box3_img {
  display: flex;
  justify-content: center;
}

.science_teacher {
  height: 380px;
}

.paragraph_about2_long {
  line-height: var(--line);
  letter-spacing: var(--spacing);
  font-size: var(--paragraph);
  width: 75%;
}

.paragraph_about2 {
  font-weight: var(--fw);
  font-size: 0.9375rem;
}
